@import "../../node_modules/normalize-scss/sass/normalize/import-now";
@import 'variables';

body {
  background: $background;
}

nav {
  background: $white;
  box-shadow: 0 1px 2px 0 #d4cece;
}

main {
  width: 895px;
  margin: 0 auto;
}

.navigation {
  padding: 10px 2% 10px 2%;
  margin: 0;
  li {
    list-style-type: none;
    display: inline-block;
    a {
      color: $gray;
      text-decoration: none;
    }
  }
}

.home {
  float: left;
  margin-right: 2%;
  color: $gray;
  .home-icon {
    font-size: 1.7rem;
  }
}

.logo {
  margin-left: 40%;
  font-size: 1.5rem;
  color: $blue;
}
.new-tweet, .logout {
  float: right;
  margin-left: 2%;
}

.logout button {
  background: transparent;
  border: 1px solid $gray;
  color: $gray;
  padding: 4px 8px;
  border-radius: 10%;
}

.login-form {
  width: 30%;
  margin: 0 auto;
}

aside {
  width: 290px;
  margin-top: 10px;
  background: $white;
  display: inline-block;
}

.new-tweet {
  background: $accent;
  padding: 5px;
  color: $white;
  border-radius: 10%;
}

.feed-container {
  float: right;
  width: 590px;
  margin-top: 10px;
  .feed-list-wrapper {
    padding: 0;
    border: $border;
    li {
      list-style-type: none;
    }
    .single-tweet {
      padding: 10px;
      border-bottom: $border;
    }
  }
}

.feed-list {
  padding: 0;
  margin: 0;
  background: $white;
  .single-tweet:last-child {
    border-bottom: 0;
  }
}

.new-post-form {
  text-align: center;
  background: $highlight;
  padding: 10px 0 10px 0;
  .user-icon {
    background: transparent;
    border: 1px solid $gray;
    color: $gray;
    padding: 1px 10px;
    line-height: 2rem;
    border-radius: 10%;
    margin-left: 2%;
  }
  input {
    width: 86.5%;
    color: $accent;
    border: 1px solid $accent;
    padding-left: 1%;
    line-height: 2rem;
    font-size: 0.9rem;
  }
}

.tweet-details {
  padding: 0;
  li {
    display: inline-block;
  }
  .user-icon {
    font-size: 2rem;
    border: $border;
    border-radius: 10%;
    padding: 5px 10px;
  }
  .body {
    display: block;
    padding-left: 55px;
  }
}

.username {
  font-weight: bold;
  padding-left: 5px;
}

.handle, .time {
  font-size: 0.8rem;
  color: $gray;
}
